.image-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    &__img{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        .comments-wrapper{
            display: flex;
            margin-bottom: 10px;
            input{
                width: 90%;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                line-height: 1em;
                
            }
            input:first-line {
                display: inline-block;    
            }
            &__btn{
                text-align: center;
                cursor: pointer;
            }
        }
    }
}